.box_1{
	height: 400px;
	overflow: hidden;
}
.box_1>img{
	width: 100%;
	/*height: 100%;*/
	object-fit: cover;
}


.box_2{
	padding: 1px 0px;
}
.box_2 .header_1{
	text-align: center;
	margin: 94px auto 75px;
	font-family: DFPHaiBaoW12;
	font-size: 36px;
	letter-spacing: 0px;
	color: #563b3b;
}
.box_2 .list_1{
	max-width: 1264px;
	margin: 0px auto 123px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	/*换行*/
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    justify-content: space-around;
    
}
.box_2 .list_1>li{
	width: 387px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.box_2 .list_1 a{
	display: block;
	height: 100%;
	position: relative;
}
.box_2 .img_1{
	height: 373px;
}
.box_2 .img_1>img{
	width: 100%;
	height:100%;
	object-fit: cover;
}
.box_2 .cont_1{
	padding: 22px 35px 28px 30px;
	
}
.box_2 .title_1{
	font-size: 24px;
	letter-spacing: 0px;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0px 0px 23px 0px;
}
.box_2 .text_1{
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 0.7;
	height: 95px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.box_3{
	background: #91d22b;
	padding: 107px 0px 123px;
}
.box_3>ul{
	max-width: 960px;
	margin: 0px auto;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	/*换行*/
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    justify-content: space-around;
}
.box_3 .img_1{
	flex: 260px;
	flex-grow: 0;
}
.box_3 .img_1>img{
	width: 100%;
}
.box_3 .cont_1{
	flex: 700px;
	flex-grow: 0;
	padding: 55px 0px 0px 124px;
}
.box_3 .title_1{
	font-size: 36px;
	letter-spacing: 0px;
	color: #ffffff;
	margin: 0px 0px 60px 0px;
}
.box_3 .text_1{
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 0.7;
}

.box_4{
	padding: 1px 0px;
}
.box_4 .title_1{
	font-family: DFPHaiBaoW12;
	font-size: 36px;
	letter-spacing: 0px;
	color: #563b3b;
	margin: 83px 0px 96px;
	text-align: center;
}
.box_4 .list_1{
	min-height: 390px;
	width: 1200px;
	margin: 0px auto;
}
.box_4 .text_1{
	width: 383px;
	height: 204px;
	background-color: #28d8fb;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #ffffff;
	padding: 30px 30px 30px 30px;
	margin: 0px 0px 68px 0px;
	position: relative;
}
.box_4 .text_1 .triangle_1{
	position: absolute;
	bottom: -25px;
	left: 64px;
}
.box_4 .cont_1{
	padding: 0px 30px 0px 17px;
}
.box_4 .img_1{
	float: left;
	width: 120px;
	height: 117px;
}
.box_4 .img_1>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}
.box_4 .text_2{
	float: left;
	width: 216px;
	padding: 38px 0px 0px 23px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0px;
	color: #000000;
}
.box_4 .swiper_box{
	position: relative;
	height: 160px;
}
.box_4 .swiper-pagination{
	top: 52px;
	width: 100%;
	left: 0px;
}
.box_4 .swiper-pagination-bullet{
	width: 16px;
	height: 16px;
	background: rgba(255, 255, 255, 0.4);
	opacity: 1;
	margin: 0px 10px;
	border: 1px solid #fdcb2c;
}
.box_4 .swiper-pagination-bullet-active{
	background : #fdcb2c;
}

