
.box_1{
	background-color: #91d22b;
}
.box_1>ul{
	max-width: 1200px;
	margin: 0px auto;
}
.box_1>ul>li:not(.cb){
	float: left;
	width: 20%;
	text-align: center;
	font-size: 16px;
	position: relative;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.box_1>ul>li:nth-last-child(2){
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.box_1>ul a{
	color: #FFFFFF;
	display: block;
	width: 100%;
	line-height: 125px;
	font-size: 16px;
}
.box_1>ul>li.active{
	background-color: rgba(61, 129, 0, 0.3);
	border: none;
}
.box_1>ul>li.active+li{
	border-left: none;
}
.box_1>ul>li:hover{
	background-color: rgba(61, 129, 0, 0.3);
}
.box_1>ul>li:not(.cb):after{
	left: 0px;
}
.box_1>ul>li:not(.cb):before{
	right: 0px;
}

.box_2{
	max-width: 1260px;
	margin: 55px auto 0px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap;
    flex-flow: wrap;
    justify-content:space-around;
}
.box_2>li{
	flex: 255px;
	flex-grow: 0;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 54px;
}
.box_2 .img_1{
	height: 236px;
}
.box_2 .img_1>img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.box_2 .cont_1{
	padding: 23px 30px;
	text-align: center;
}
.box_2 .titie_1{
	font-size: 16px;
	color: #000000;
	margin: 0px 0px 9px 0px;
}
.box_2 .name_1>span{
	font-size: 14px;
	letter-spacing: 0px;
	color: #91d22b;
	margin: 0px 9px 0px 0px;
}
.box_2 .name_1>font{
	font-size: 12px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 0.7;
}
.box_2 .text_1{
	font-size: 12px;
	letter-spacing: 0px;
	color: #000000;
	margin: 7px 0px 0px;
	opacity: 0.7;
}





/*分页*/
.paging{
	text-align: center;
	font-size: 0px;
	margin: 26px 0px 80px;
}
.paging>li{
	display: inline-block;
	margin: 0px 10px;
	min-width: 32px;
	height: 32px;
	font-size: 16px;
	line-height: 30px;
	border: solid 1px #91d22b;
	letter-spacing: 0px;
	border-radius: 100%;
	-webkit-transition: all 0.3;
	-moz-transition: all 0.3;
	-ms-transition: all 0.3;
	-o-transition: all 0.3;
	transition: all 0.3;
}
.paging a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #91d22b;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.paging>li.active{
	background: #91d22b;
}
.paging>li.active a{
	color: #FFFFFF;
}
.paging>li:hover{
	background: #91d22b;
}
.paging>li:hover a{
	color: #FFFFFF;
}