<!DOCTYPE html>
<html>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

名:  <input type="text" ng-model="firstName"><br>
姓:  <input type="text" ng-model="lastName"><br>
<br>
姓名: {{firstName + " " + lastName}}

</div>

<script>
var app = angular.module('myApp', ['']);
app.controller('myCtrl', function($scope,$http) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
   		 $http({
			method: 'POST',
			url:'',
			data: '',  // pass in data as strings
			headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
					 //   transformRequest: formDataObject
			}).success(function(data){
				console.log(data)
			}).error(function(data){
				console.log(data)
			})
			
			
	$scope.paginationConf = {
	    currentPage: 1,
	    totalItems: 8000,
	    itemsPerPage: 15,
	    pagesLength: 15,
	    perPageOptions: [10, 20, 30, 40, 50],
	    onChange: function(){
	
	    }
	};
});
</script>

</body>
</html>