				<div class="bottom_footer">
					<ul class="list_1">
						<li class="left_1">
							<div class="header_1">集团介绍</div>
							<a href="javascript:;">荣誉</a>
							<a href="javascript:;">总园介绍</a>
							<a href="javascript:;">西区介绍</a>
							<a href="javascript:;">南区介绍</a>
							<a href="javascript:;">东区介绍</a>
						</li>
						<li class="left_1">
							<div class="header_1">办园理念</div>
							<a href="javascript:;">理念诠释</a>
							<a href="javascript:;">办学特色</a>
							<a href="javascritp:;">办学章程</a>
						</li>
						<li class="left_1">
							<div class="header_1">教师风采</div>
							<a href="javascript:;">园长介绍</a>
							<a href="javascript:;">名师工作室</a>
							<a href="javascript:;">对外交流展示</a>
							<a href="javascript:;">每月明星教师</a>
						</li>
						<li class="left_1">
							<div class="header_1">宝贝风采</div>
							<a href="javascript:;">班级星宝贝</a>
							<a href="javascript:;">比赛获奖宝贝</a>
							<a href="javascript:;">绘画、手工作品展示</a>
							<a href="javascript:;">宝贝自我展示</a>
						</li>
						<li class="left_1">
							<div class="header_1">特色活动</div>
							<a href="javascript:;">活动课</a>
							<a href="javascript:;">体验课</a>
							<a href="javascript:;">自愿者活动</a>
						</li>
						<li class="left_1">
							<div class="header_1">家园共育</div>
							<a href="javascript:;">亲子活动</a>
							<a href="javascript:;">专家观点</a>
							<a href="javascript:;">家长经验</a>
						</li>
						<li class="left_1">
							<div class="header_1">教育课研</div>
							<a href="javascript:;">课程资源</a>
							<a href="javascript:;">教学比武</a>
							<a href="javascript:;">优先课件、课例</a>
							<a href="javascript:;">科研论文</a>
							<a href="javascript:;">教育随笔</a>
						</li>
						<li class="right_1">
							<img src="__PUBLIC__/image/4ac616e9ecd277e64c59e5c002fe99bf.jpg"/>
							扫一扫关注我们
						</li>
						<li class="cb"></li>
					</ul>
					<div class="copyright_1">成都市天府新区华阳幼儿园 版权所有</div>
				</div>