<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<!--<meta name="renderer" content="webkit" />-->
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge,IE=11,IE=10,IE=9,IE=8"/>
		<meta http-equiv="expires" content="0" /> 
		<meta http-equiv="Pragma" content="no-cache" />
		
		<title>花样幼儿园</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/fontclass/iconfont.css" />-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.css" />
		<!--字体-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/fontClass/iconfont.css" />
		<!--顶部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/nav.css?a=1" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/home.css?a=1" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/footer.css?a=1" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/swiper/css/swiper.css"/>
		
		<script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/twonav.css"/>
		
	</head>
	<body>
		{include file="index::nav" /}
		
		<div class="box_1">
			<img src="__PUBLIC__/image/park.png"/>
		</div>
		
		
		
		<div id="active"></div>
		<div class="twonav">
			<ul>
				{volist name="schoolTypeList" id="schoolObj"}
				<li class="{$schoolId==$schoolObj.Id ? 'active':''}">
					<a href="{:url('index/index/home')}/{$schoolObj.Id}#active">
						<img src="__UPLOAD__/{$schoolObj.picture}"/>{$schoolObj.name}
					</a>
				</li>
				{/volist}
				<li class="cb"></li>
			</ul>
		</div>
		<script type="text/javascript">
			console.log({:json_encode($homeTypeList)})
		</script>
		{volist name="homeTypeList" id="homeObj" key="k"}
			{if condition="$k/2==1"}
			<div class="box_2">
				<div class="header_1">{$homeObj.name}</div>
				<ul class="list_1">
					{volist name="homeObj.list.list" id="detailsObj" offset="0" length='3'}
					<li>
						<a href="{:url('index/index/details')}/{$detailsObj.Id}">
							<div class="img_1"><img class="img_1" src="__UPLOAD__/{$detailsObj.CoverMap}"/></div>
							<div class="cont_1">
								<div class="title_1">{$detailsObj.title}</div>
								<div class="text_1">{$detailsObj.introduce}</div>
							</div>
						</a>
					</li>
					{/volist}
				</ul>
			</div>
			{/if}
		{/volist}
		<div class="box_3">
			<ul>
				<li class="img_1"><img src="__PUBLIC__/image/790862c68fd145bed69d0517ba449188.png"/></li>
				<li class="cont_1">
					<div class="title_1">专家观点</div>
					<div class="text_1">成都市天府新区华阳幼儿园座落在天府新区华阳大道二段189号，是成都市首批优质学前教育集团。
						现有4个校区，分别为华阳幼儿园总园（蘑菇园）、华阳幼儿园东区(沙河分园)、华阳幼儿园西区（西寺分园）、华阳幼儿园南区（香山分园）。
						集团内共有教学班40个，在园幼儿1400名，教职员工220名。
						<br /><br />
						成都市天府新区华阳幼儿园座落在天府新区华阳大道二段189号，是成都市首批优质学前教育集团。
						现有4个校区，分别为华阳幼儿园总园（蘑菇园）、华阳幼儿园东区(沙河分园)、华阳幼儿园西区（西寺分园）、华阳幼儿园南区（香山分园）。
						集团内共有教学班40个，在园幼儿1400名，教职员工220名。
					</div>
				</li>
			</ul>
		</div>
		
		{volist name="homeTypeList" id="homeObj" key="k"}
			{if condition="$k%2==0"}
			<div class="box_4">
				<div class="title_1">{$homeObj.name}</div>
				<div class="swiper-container list_1">
					<div class="swiper-wrapper">
						{volist name="homeObj.list.list" id="detailsObj"}
					  	<div class="swiper-slide">
					  		<div class="text_1">
					  			{$detailsObj.introduce}
					  			<img class="triangle_1" src="__PUBLIC__/image/tree.png" />
					  		</div>
					  		<ul class="cont_1">
					  			<li class="img_1"><img src="__UPLOAD__/{$detailsObj.CoverMap}"/></li>
					  			<a href="{:url('index/index/details')}/{$detailsObj.Id}"><li class="text_2">{$detailsObj.title}</li></a>
					  			<li class="cb"></li>
					  		</ul>
					  	</div>
					  	{/volist}
					</div>
				</div>
				
				<div class="swiper_box">
					 <div class="swiper-pagination"></div>
				</div>
			</div>
			{/if}
		{/volist}
		
		{include file="index::footer" /}
		
		<script src="__PUBLIC__/plugins/swiper/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var swiper = new Swiper('.box_4 .list_1', {
			      	spaceBetween: 25,
			      	slidesPerView : 3,
//			      	loop : true,
//			      	autoplay:true,
			      	pagination: {
			       		el: '.swiper-pagination',
			        	clickable: true,
			      	},
			      	on:{
					    touchStart: function(event){
//					    	console.log('开始拖动')
					    },
					    slideChangeTransitionEnd:function(){
//					    	$('.banner').removeClass('active')
					    }
					},
			   });
		</script>
	</body>
</html>
