<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<!--<meta name="renderer" content="webkit" />-->
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge,IE=11,IE=10,IE=9,IE=8"/>
		<meta http-equiv="expires" content="0" /> 
		<meta http-equiv="Pragma" content="no-cache" />
		
		<title>花样幼儿园</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/fontclass/iconfont.css" />-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.css" />
		<!--字体-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/fontClass/iconfont.css" />
		<!--顶部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/nav.css?a=3" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/park.css?a=3" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/footer.css?a=3" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/swiper/css/swiper.css"/>
		
		<script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body>
		{include file="index::nav" /}
		
		<div class="swiper-container1 banner">
			<div class="swiper-wrapper">
				{volist name="banner" id="bannerObj" offset="0" length='4'}
				<div class="swiper-slide banner_box" style="background-image: url('__UPLOAD__/{$bannerObj.imgUrl}');"></div>
				{/volist}
			</div>
			<div class="swiper-pagination"></div>
		</div>
		
		<div id="active"></div>
		<div class="box_1">
			<ul>
				{volist name="schoolTypeList" id="schoolObj"}
				<li class="{$thisId==$schoolObj.Id ? 'active':''}">
					<a href="{:url('/Honor/'.$schoolObj.Id)}#active">
						<img src="__UPLOAD__/{$schoolObj.picture}"/>{$schoolObj.name}
					</a>
				</li>
				{/volist}
				<!--<li class="{$thisId==2 ? 'active':''}">
					<a href="{:url('index/index/park')}?i=2">
						<img src="__PUBLIC__/image/学校概况.png"/>华阳东园区
					</a>
				</li>
				<li class="{$thisId==3 ? 'active':''}">
					<a href="{:url('index/index/park')}?i=3">
						<img src="__PUBLIC__/image/书.png"/>华阳西园区
					</a>
				</li>
				<li class="{$thisId==4 ? 'active':''}">
					<a href="{:url('index/index/park')}?i=4">
						<img src="__PUBLIC__/image/花花朵清新.png"/>华阳南园区
					</a>
				</li>-->
				<li class="cb"></li>
			</ul>
		</div>
		
		<ul class="box_4">
			{volist name="HonorList.list" id="HonorObj" key='k'}
			<a href="javascript:;">
				<li class="{$k==1 ? 'active':''}">
					<div class="left_1">
						<div>{:date('d',strtotime($HonorObj.CreationTime))}</div>
						<div>
							<span>{:date('Y',strtotime($HonorObj.CreationTime))}</span>
							<span>{:date('M',strtotime($HonorObj.CreationTime))}</span>
						</div>
					</div>
					<div class="time_1"><i class="icon iconfont icon-shijian"></i></div>
					<div class="right_1">
						<div class="title_1">{$HonorObj.title}</div>
						<div class="text_1">{$HonorObj.introduce}</div>
					</div>
				</li>
			</a>
			{/volist}
		</ul>

		
		
		{include file="index::footer" /}
		
		<script src="__PUBLIC__/plugins/swiper/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var swiper = new Swiper('.swiper-container1', {
			      	spaceBetween: 1,
			      	loop : true,
			      	autoplay:true,
			      	pagination: {
			       		el: '.swiper-pagination',
			        	clickable: true,
			      	},
			      	on:{
					    touchStart: function(event){
//					    	$('.banner').addClass('active')
					    	console.log('开始拖动')
					    },
					    slideChangeTransitionEnd:function(){
//					    	$('.banner').removeClass('active')
					    }
					},
			    });
			
			var photoList=new Swiper('.photoList', {
			      	spaceBetween: 35,
			      	slidesPerView : 3,
			      	loop : true,
//			      	autoplay:true,
			      	pagination: {
			       		el: '.swiper-pagination',
			        	clickable: true,
			      	},
			      	on:{
					    touchStart: function(event){
//					    	$('.banner').addClass('active')
					    	console.log('开始拖动')
					    },
					    slideChangeTransitionEnd:function(){
//					    	$('.banner').removeClass('active')
					    }
					},
			    });
			    
		</script>
	</body>
</html>