				<div class="topNavigation">
					<a href="{:url('index/index/index')}">
					<div class="left_1">
						<img src="__PUBLIC__/image/logo.png"/>
						<div class="logo_text_1">
							<div>华阳幼儿园</div>
							<div><span>Huayang kindergarten<span></div>
						</div>
						<div class="logo_text">
							<div>四川省示范园</div>
							<div><span>成都市一级一类园</span></div>
						</div>
						
						<div class="cb"></div>
					</div>
					</a>
					<div class="open_1">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<ul class="right_1">
						<li>
							<a href="javascript:;">集团介绍<i class="icon_1 icon iconfont icon-shang"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="{:url('index/index/Honor')}"><li><i class="icon_2 icon iconfont icon-shang"></i>荣誉</li></a>
								<a href="{:url('/park/1')}"><li><i class="icon_2 icon iconfont icon-shang"></i>总园介绍</li></a>
								<a href="{:url('/park/2')}"><li><i class="icon_2 icon iconfont icon-shang"></i>西区介绍</li></a>
								<a href="{:url('/park/3')}"><li><i class="icon_2 icon iconfont icon-shang"></i>南区介绍</li></a>
								<a href="{:url('/park/4')}"><li><i class="icon_2 icon iconfont icon-shang"></i>东区介绍</li></a>
							</ul>
						</li>
						<li>
							<a href="javascript:;">办园理念<i class="icon_1 icon iconfont icon-shang"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="javascript:;"><li><i class="icon_2 icon iconfont icon-shang"></i>理念诠释</li></a>
								<a href="javascript:;"><li><i class="icon_2 icon iconfont icon-shang"></i>办学特色</li></a>
								<a href="javascript:;"><li><i class="icon_2 icon iconfont icon-shang"></i>办学章程</li></a>
							</ul>
						</li>
						<li>
							<a href="javascript:;">教师风采<i class="icon iconfont icon-shang icon_1"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="{:url('index/index/teacher')}"><li><i class="icon_2 icon iconfont icon-shang"></i>园长简介</li></a>
								<a href="{:url('index/index/teacher')}"><li><i class="icon_2 icon iconfont icon-shang"></i>名师工作室</li></a>
								<a href="{:url('index/index/teacher')}"><li><i class="icon_2 icon iconfont icon-shang"></i>对外交流展示</li></a>
								<a href="{:url('index/index/teacher')}"><li><i class="icon_2 icon iconfont icon-shang"></i>每月明星教师</li></a>
							</ul>
						</li>
						<li>
							<a href="javascript:;">宝贝风采<i class="icon iconfont icon-shang icon_1"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="{:url('index/index/baby')}"><li><i class="icon_2 icon iconfont icon-shang"></i>班级星宝贝</li></a>
								<a href="{:url('index/index/baby')}"><li><i class="icon_2 icon iconfont icon-shang"></i>比赛获奖宝贝</li></a>
								<a href="{:url('index/index/baby')}"><li><i class="icon_2 icon iconfont icon-shang"></i>绘画、手工作品展示</li></a>
								<a href="{:url('index/index/baby')}"><li><i class="icon_2 icon iconfont icon-shang"></i>宝贝自己展示</li></a>
							</ul>
						</li>
						<li>
							<a href="javascript:;">特色活动<i class="icon iconfont icon-shang icon_1"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="{:url('/activity/1')}"><li><i class="icon_2 icon iconfont icon-shang"></i>活动课</li></a>
								<a href="{:url('/activity/2')}"><li><i class="icon_2 icon iconfont icon-shang"></i>体验课</li></a>
								<a href="{:url('/activity/3')}"><li><i class="icon_2 icon iconfont icon-shang"></i>志愿者活动</li></a>
							</ul>
						</li>
						<li>
							<a href="javascript:;">家园共育<i class="icon iconfont icon-shang icon_1"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="{:url('index/index/home')}"><li><i class="icon_2 icon iconfont icon-shang"></i>亲子活动</li></a>
								<a href="{:url('index/index/home')}"><li><i class="icon_2 icon iconfont icon-shang"></i>专家活动</li></a>
								<a href="{:url('index/index/home')}"><li><i class="icon_2 icon iconfont icon-shang"></i>家长经验</li></a>
							</ul>
						</li>
						<li>
							<a href="javascript:;">教育科研<i class="icon iconfont icon-shang icon_1"></i></a>
							<ul>
								<li class="Station_1"></li>
								<a href="{:url('index/index/education')}/1"><li><i class="icon_2 icon iconfont icon-shang"></i>课程资源</li></a>
								<a href="{:url('index/index/education')}/2"><li><i class="icon_2 icon iconfont icon-shang"></i>教学比武</li></a>
								<a href="{:url('index/index/education')}/3"><li><i class="icon_2 icon iconfont icon-shang"></i>优秀课件、课例</li></a>
								<a href="{:url('index/index/education')}/4"><li><i class="icon_2 icon iconfont icon-shang"></i>科研论文</li></a>
								<a href="{:url('index/index/education')}/5"><li><i class="icon_2 icon iconfont icon-shang"></i>教育随笔</li></a>
							</ul>
						</li>
					</ul>
				</div>
				
				
<script type="text/javascript">
	$('.topNavigation').find('.open_1').click(function(){
		if($(this).is('.active')){
			$(this).removeClass('active');
			$('.topNavigation').find('.right_1').removeClass('active');
		}else{
			$(this).addClass('active');
			$('.topNavigation').find('.right_1').addClass('active');
		}
	})
</script>				
