<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<!--<meta name="renderer" content="webkit" />-->
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge,IE=11,IE=10,IE=9,IE=8"/>
		<meta http-equiv="expires" content="0" /> 
		<meta http-equiv="Pragma" content="no-cache" />
		
		<title>花样幼儿园</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/fontclass/iconfont.css" />-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/bootstrap/css/bootstrap.css" />
		<!--字体-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/fontClass/iconfont.css" />
		<!--顶部-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/nav.css?a=3" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/newlist.css?a=3" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/pc/css/footer.css?a=3" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/swiper/css/swiper.css"/>
		
		<script src="__PUBLIC__/plugins/jQuery/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body>
		{include file="index::nav" /}
		
		<div class="box_1">
			<ul>
				<li class="{$thisType==0 ? 'active':''}">
					<a href="{:url('index/index/newlist')}?t=0">
						所有新闻
					</a>
				</li>
				<li class="{$thisType==1 ? 'active':''}">
					<a href="{:url('index/index/newlist')}?t=1">
						儿童
					</a>
				</li>
				<li class="{$thisType==2 ? 'active':''}">
					<a href="{:url('index/index/newlist')}?t=2">
						师生
					</a>
				</li>
				<li class="{$thisType==3 ? 'active':''}">
					<a href="{:url('index/index/newlist')}?t=3">
						校园
					</a>
				</li>
				<li class="{$thisType==4 ? 'active':''}">
					<a href="{:url('index/index/newlist')}?t=4">
						健康
					</a>
				</li>
				<li class="cb"></li>
			</ul>
		</div>
		
		<ul class="box_2">
			<li>
				<a href="javascript:;">
					<div class="img_1"><img src="__PUBLIC__/image/home_1.jpg"/></div>
					<div class="cont_1">
						<div class="title_1">唱响新区，筑梦教育</div>
						<div class="text_1">2017年12月16日，成都市天府新区首届教职工合唱比赛初赛在天府七中盛大举行，由华阳幼儿园四十余名教职工组成的合唱队参加了此次活动。</div>
						<div class="footer_1">
							<i class="Eye_1 icon iconfont icon-chakanyanjingshishifenxi2"></i>
							<span>100</span>
							<i class="Leaving_1 icon iconfont icon-liuyanfill"></i>
							<span>150</span>
							<font class="time_1">2017-09-21</font>
							<div class="cb"></div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="img_1"><img src="__PUBLIC__/image/home.jpg"/></div>
					<div class="cont_1">
						<div class="title_1">唱响新区，筑梦教育</div>
						<div class="text_1">2017年12月16日，成都市天府新区首届教职工合唱比赛初赛在天府七中盛大举行，由华阳幼儿园四十余名教职工组成的合唱队参加了此次活动。</div>
						<div class="footer_1">
							<i class="Eye_1 icon iconfont icon-chakanyanjingshishifenxi2"></i>
							<span>100</span>
							<i class="Leaving_1 icon iconfont icon-liuyanfill"></i>
							<span>150</span>
							<font class="time_1">2017-09-21</font>
							<div class="cb"></div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="img_1"><img src="__PUBLIC__/image/home_2.jpg"/></div>
					<div class="cont_1">
						<div class="title_1">唱响新区，筑梦教育</div>
						<div class="text_1">2017年12月16日，成都市天府新区首届教职工合唱比赛初赛在天府七中盛大举行，由华阳幼儿园四十余名教职工组成的合唱队参加了此次活动。</div>
						<div class="footer_1">
							<i class="Eye_1 icon iconfont icon-chakanyanjingshishifenxi2"></i>
							<span>100</span>
							<i class="Leaving_1 icon iconfont icon-liuyanfill"></i>
							<span>150</span>
							<font class="time_1">2017-09-21</font>
							<div class="cb"></div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="img_1"><img src="__PUBLIC__/image/home_1.jpg"/></div>
					<div class="cont_1">
						<div class="title_1">唱响新区，筑梦教育</div>
						<div class="text_1">2017年12月16日，成都市天府新区首届教职工合唱比赛初赛在天府七中盛大举行，由华阳幼儿园四十余名教职工组成的合唱队参加了此次活动。</div>
						<div class="footer_1">
							<i class="Eye_1 icon iconfont icon-chakanyanjingshishifenxi2"></i>
							<span>100</span>
							<i class="Leaving_1 icon iconfont icon-liuyanfill"></i>
							<span>150</span>
							<font class="time_1">2017-09-21</font>
							<div class="cb"></div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="img_1"><img src="__PUBLIC__/image/home.jpg"/></div>
					<div class="cont_1">
						<div class="title_1">唱响新区，筑梦教育</div>
						<div class="text_1">2017年12月16日，成都市天府新区首届教职工合唱比赛初赛在天府七中盛大举行，由华阳幼儿园四十余名教职工组成的合唱队参加了此次活动。</div>
						<div class="footer_1">
							<i class="Eye_1 icon iconfont icon-chakanyanjingshishifenxi2"></i>
							<span>100</span>
							<i class="Leaving_1 icon iconfont icon-liuyanfill"></i>
							<span>150</span>
							<font class="time_1">2017-09-21</font>
							<div class="cb"></div>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:;">
					<div class="img_1"><img src="__PUBLIC__/image/home_2.jpg"/></div>
					<div class="cont_1">
						<div class="title_1">唱响新区，筑梦教育</div>
						<div class="text_1">2017年12月16日，成都市天府新区首届教职工合唱比赛初赛在天府七中盛大举行，由华阳幼儿园四十余名教职工组成的合唱队参加了此次活动。</div>
						<div class="footer_1">
							<i class="Eye_1 icon iconfont icon-chakanyanjingshishifenxi2"></i>
							<span>100</span>
							<i class="Leaving_1 icon iconfont icon-liuyanfill"></i>
							<span>150</span>
							<font class="time_1">2017-09-21</font>
							<div class="cb"></div>
						</div>
					</div>
				</a>
			</li>
		</ul>
		
		<ul class="paging">
		    <li><a href="#">&laquo;</a></li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">15</a></li>
		    <li><a href="#">150</a></li>
		    <li><a href="#">&raquo;</a></li>
		</ul>
		{include file="index::footer" /}
	</body>
</html>